body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    background-image: linear-gradient(to bottom right, rgb(51, 53, 139) 30%, rgb(160, 67, 60) 80%);
    background-attachment: fixed;
}

.fix{
    position: sticky;
    width: 100%;
    margin: 0;
    top: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color:rgb(0, 97, 0);
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
}

nav a:hover {
    animation: word 100ms ease-in-out forwards;
}

@keyframes word {
    to{
        background-color: lightseagreen;
        color: black;
    }    
}

section {
    padding: 2em;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    text-align: justify;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
}

.project {
    margin-bottom: 1.5em;
}

.link{
    width: 25%;
    a{
        text-decoration: none;
        margin: 0;
    }
}

.btn{
    height: 40px;
    width: 200px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    margin: 0;

    button{
        margin: 0;
        height: 100%;
        width: 100%;
        background-color: lightblue;
        border: 0px;
        border-radius: 20px;
    }
}
.btn:hover{
    animation: btn 200ms ease-in-out forwards;

}
.btn>button:hover{
    animation: btn 200ms ease-in-out forwards;
}

@keyframes btn {
    to{
        background-color: lightseagreen;
        font-size: 0.8rem;
        color: white;
        transform: scale(1.05);
    }
}

.view-resume{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative;
    bottom: 0;
    width: 100%;
}
